<md-input-container>
  <input md-input placeholder="Name" [(ngModel)]="name">
</md-input-container>
<md-input-container>
  <input md-input placeholder="Surname" [(ngModel)]="surname">
</md-input-container>
<md-input-container>
  <input md-input placeholder="Patronymic" [(ngModel)]="patronymic">
</md-input-container>

<button md-raised-button color="primary" (click)="saveWorker(name, surname, patronymic)">Add</button>
<div class="search">
<div class="search__filter">
  <ng2-select [placeholder]="'Choose your filter'"
            [options]="['Name', 'Surname', 'Patronymic']"
            [(ngModel)]="filter"
            [style.margin-rigth]="10">

  </ng2-select>
</div>
<md-input-container>
  <input
        md-input
        type='text'
        placeholder='Type to filter the {{filter}} column...'
        (keyup)='updateFilter($event, filter)'
      />
</md-input-container>
</div>
<div>

  <ngx-datatable
    class="material "
    [rows]="workers"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50">
      <ngx-datatable-column name="Name">
         <template let-value="value" ngx-datatable-cell-template>
           {{ value }}
         </template>
       </ngx-datatable-column>
       <ngx-datatable-column name="Surname">
         <template let-row="row" let-value="value" ngx-datatable-cell-template>
           <div>{{value}}</div>
         </template>
       </ngx-datatable-column>
       <ngx-datatable-column name="Patronymic">
         <template let-value="value" ngx-datatable-cell-template>
           <div>{{value}}</div>
         </template>
       </ngx-datatable-column>
       <ngx-datatable-column>
         <template let-row="row" ngx-datatable-cell-template>
           <button md-button (click)="initEditableWorker(row.id)">
             <i class="material-icons">create</i>
           </button>
           <button md-button (click)="deleteWorker(row.id)" >
             <i class="material-icons">delete</i>
           </button>
         </template>
       </ngx-datatable-column>
  </ngx-datatable>
</div>
<div class="popup" *ngIf="isShownEditPopup">
  <md-input-container>
    <input md-input placeholder="Name" [(ngModel)]="newName">
  </md-input-container>
  <md-input-container>
    <input md-input placeholder="Surname" [(ngModel)]="newSurname">
  </md-input-container>
  <md-input-container>
    <input md-input placeholder="Patronymic" [(ngModel)]="newPatronymic">
  </md-input-container>
  <button md-button (click)="updateWorker(newName, newSurname, newPatronymic)" >
    <i class="material-icons">done</i>
 </button>
 <i class="material-icons popup__button--close" (click)="toggleEditPopup()">close</i>
</div>
